################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicroService.PhoneBook/.vs/MicroService.PhoneBook/v16
